body {
    height:100px;
    background-image: url("https://kennethzhg.github.io/CS50-Assignment---HTML-CSS-webpage/images/zhou_riding-a-dragon.jpg");
    background-size:cover;
    background-position: center;
    margin-left: 0%; 
    margin-right: 0%;
}

.header {
    height: 200%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.outerbox {
    display: flex;
    justify-content: center;
}

.middlebox {
    float: left;
}

.card-block {
    display: flex;
    justify-content: center;
}

.card {
    float: left;
}

#card2 {
    position: relative;
    top: 120px;
    height: 500px;
}

#Confucius {
    height: 600px;
}

#choicebanner {
    height: 150px;
}

#Mencius {
    height: 600px;
}

#Confucius-scroll {
    padding-left: 50px;
    position: relative;
    top: 50px;
    height: 500px;
}

.text-block {
    display: flex;
    justify-content: center;
    position: relative;
    top: -480px;
}

.English1 {
    float: left;
    max-height: 360px;
    width: 235px;
    margin-left: 610px;
    margin-right: 20px;
    font-family: 'Felix Titling';
    font-size: 127%;
    color: black;
}

@font-face {
    src: url("/zhongshan-xingshu.ttf");
    font-family: zhongshan;
}

.Chinese1 {
    float: left;
    font-family: zhongshan;
    font-size: 200%;
    color: black;
    writing-mode: vertical-rl;
    height: 360px;
    width: 255px;
}

#Mencius-scroll {
    padding-right: 50px;
    position: relative;
    top: 50px;
    height: 500px;
}

.English2 {
    float: left;
    font-family: 'Felix Titling';
    font-size: 127%;
    color: black;
    height: 360px;
    width: 235px;
    margin-left: -50px;
}

.Chinese2 {
    float: left;
    font-family: zhongshan;
    font-size: 200%;
    color: black;
    writing-mode: vertical-rl;
    height: 360px;
    width: 255px;
    margin-left: 15px;
    margin-right: 105px;
}

#back-button {
    position: relative;
    top: -400%;
    right: -50%;
}

